<!-- Title Meta -->
<meta charset="utf-8"/>
<title>{{ subTitle }} | Rastrek - Rastreamento e Segurança Veicular</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
      content="Rastrek - A maior empresa de rastreamento veicular do Brasil desde 2012. Gestão de frotas, telemetria em tempo real e segurança."/>
<meta name="author" content="Rastrek"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

<!-- App favicon -->
<link rel="shortcut icon" href="{{ config.ASSETS_ROOT }}/images/favicon.ico">
